.contact-form {
  background-image: url("../img/contactimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
}

.contact-filter {
  background: rgb(32,32,32);
  background: radial-gradient(circle, rgba(32,32,32,0.6460959383753502) 7%, rgba(0,0,0,0.6629026610644257) 63%);
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  background-size:inherit;
}

.card-form {
  box-shadow: rgba(90, 90, 90, 0.17) 0px -23px 25px 0px inset, rgba(66, 66, 66, 0.15) 0px -36px 30px 0px inset,
  rgba(92, 92, 92, 0.1) 0px -79px 40px 0px inset, rgba(108, 108, 108, 0.06) 0px 2px 1px, rgba(73, 73, 73, 0.09) 0px 4px 2px,
  rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.image-side {
  background-image: url("../img/graffiting.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.button-form {
  background-color: #5C3C4D;
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
}

@media only screen and (max-width: 600px) {
  .contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  .card-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90%;
    border-radius: 8px;
  }

  .form-side{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .name-input{
    width: 17rem;
    margin-top: 5px;
    background-color: transparent;
    border: 0.1rem solid #fff;
    color: #fff;
  }

  .email-input{
    width: 17rem;
    margin-top: 5px;
    background-color: transparent;
    border: 0.1rem solid #fff;
    color: #fff;
  }

  .content-input{
    width: 17rem;
    background-color: transparent;
    border: 0.1rem solid #fff;
    color: #fff;
  }

  .button-post {
    margin-top: 10px;
    margin-left: 45%;
  }

  .image-side{
    border-radius: 8px;
    width: 17rem;
    margin-bottom: 20px;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 601px) and (max-width: 2560px) {
  .contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    margin-top: 30px;
  }

  .card-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    border-radius: 8px;
  }

  .form-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name-input {
    margin-top: 15px;
    width: 100%;
    background-color: transparent;
    border: 0.1rem solid #fff;
    color: #fff;
  }

  .email-input {
    margin-top: 15px;
    width: 100%;
    background-color: transparent;
    border: 0.1rem solid #fff;
    color: #fff;
  }

  .content-input {
    margin-top: 15px;
    width: 100%;
    background-color: transparent;
    border: 0.1rem solid #fff;
    color: #fff;
  }

  .button-post {
    margin-top: 10px;
  }

  .image-side {
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-contact{
    margin-top: 30px;
  }

}
