.projects {
  background-image: url("../img/contactimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.projects-filter {
  background: rgb(32,32,32);
  background: radial-gradient(circle, rgba(32,32,32,0.6460959383753502) 7%, rgba(0,0,0,0.6629026610644257) 63%);
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-projects {
    margin-top: 30px;
    margin-right: 10px;
  }

  .local-loop {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-text {
    display: flex;
    flex-direction: column;
    width: screen;
    text-align: left;
    margin-bottom: 80px;
  }

  .projects-header {
    margin-bottom: 30px;
  }

  .sprayer {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 2560px) {
  .projects-filter {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .projects-content {
    width: screen;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .local-loop {
    width: 60%;
    display: flex;
    justify-content: center;
  }

  .project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin-right: 10%;
  }

  .sprayer-bigscreen {
    width: 40%;
  }

  .projects-header {
    margin-bottom: 2rem
  }

  .nav-projects {
    margin-right: 10px;
  }

}
