.home {
  background-image: url("./img/backporta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.maincard{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.11436449579831931) 30%, rgba(191,191,191,0.0919555322128851) 85%);
}
